$primary-colour:#3B82F6;
$secondary-colour:#80a1d6;

 //flex
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}
.flex-js-c{
 justify-content: center;
}

//padding
.ps-4{
  padding: 1rem;
}

.f-w1{
  width: 100%;
}

//margin
.mb{
  margin-bottom: 16px;
}
.m-t{
  margin-top:20px;
}

              // -----------------------------------navbar--------------------
nav{
display: flex; 
justify-content: space-between;
margin: 2%;

}
    // ------------------------------------sidebar------------------------
.p-sidebar{
     width:30%;
.content-box {
    width: 100%;
    margin-top: 20px;

    .label-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      margin-bottom:10px;
      position: relative;
      
      label {
        margin-bottom: 5px;    
      }
      
    }
    .error {
      display: flex;
      flex-direction: column; 
      position: absolute; 
      .error-type {   
        color: red;
      }
    }
  }
  .p-dropdown,.p-calendar{
    width: 100% !important;
  }
  .footer {
    display: flex;
     
  }

  .card-cancel{
.p-button{
    background-color:$secondary-colour !important;
}
}
}
// ----------------------------------- login page---------------------------------

.pInputText{
border-radius:unset;
border: 1px solid var(--pondy-squar-cool-gray-1, #B8C0C8);
background: #FFF;
margin-bottom:10%;

}
.login-div{
.p-button{
 margin-top:20%;
  background: var(--pondy-squar-dark-gery-1, #0B0D0E);
  width: 345px;
}
}
.container{
  display: flex;
  height:100vh;
 
     .img-div {
      border-radius: 0px 12px 12px 0px;
        width:43.05%;
        background:url("/assets/images/image 2.svg") no-repeat;
        background-size: cover;
        margin: 0;   
     }
      
 
       .login-div {  
         width:56.953125%;
         display:flex;
         align-items: center;
         justify-content: center;     
       }
 
     
 
       .header h2{
         display: flex;
         width: 240px;
         height: 32px;
         flex-direction: column;
         justify-content: center;
         color: var(--pondy-squar-dark-gery-1, #0B0D0E);
         text-align: center;
         font-family: Metropolis;
         font-size: 32px;
         font-weight: 600;
       }
        
 .input-fields {
     display: flex;
     width: 345px;
     gap:6px;
    padding-top:30px;
 }

 .span-text{     
  color: var(--pondy-squar-dark-gery-1, #0B0D0E);
  text-align: center;
  font-family: Metropolis;
  font-size: 32px;
 font-weight: 600;
  padding: 50px; 

  padding-bottom:100px;
 }
 .error {  
  display: flex;
  flex-direction: column; 
  position: absolute; 
  .error-type {   
    color: red;
    
  }
}
}

// -----------------------------table--------------------------


table {

  border-collapse: collapse;
  margin: 20px;
}

th, td {
  padding: 18px;
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  border:transparent;
}

th {
  background-color: #f2f2f2;
 
}

tr:hover {
  background-color: #f5f5f5;
}







