nav{

display: flex; 
justify-content: right;
margin: 2%;
}

.p-sidebar{
     width:30%;
    
.content-box {
    width: 100%;
 
  
    .label-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      
      label {
        margin-bottom: 5px;    
      }
  
    }
  
    .error {
      width: 100%;
      display: flex;
      flex-direction: column;
  
      .error-type {
        width: 100%;
        color: red;
        margin-top: 5px;
      }
    }
  }
  .p-dropdown,.p-calendar{
    width: 100% !important;
  }
  .footer {
    display: flex;
    justify-content: space-around; 
  
    .card-cancel, .card-submit {
    margin: 20%;
    }
  }
  
}



