<div class="flex flex-col ps-4 sidemenu">
<div class="flex flex-content-c header">
    <h2>Profile</h2>
</div>
<div class="content">
    <div class="flex flex-col mb-4  input-component">
        <label for="" >Name</label>
        <input class="ps-text" type="text">
        <div class="error ps-t-4"></div>
    </div>
    <div class="flex flex-col mb-4 input-component">
        <label for="">password</label>
        <input type="text">
        <div class="error ps-t-4"></div>
    </div>
    <div class="flex flex-col mb-4 input-component">
        <label for="">gender</label>
        <input type="text">
        <div class="error ps-t-4"></div>
    </div>
    <div class="flex flex-col mb-4 input-component">
        <label for="">email</label>
        <input type="text">
        <div class="error ps-t-4"></div>
    </div>
</div>

<div class="flex-content-sa flex footer">
    <button class="bg-btn-sec ps-4 m-4 f-width btn-sec">cancel</button>
    <button class="bg-btn-pr ps-4 m-4 f-width btn-pr">submit</button>
</div>


</div>
